# ignores environment variables in the ".env" file:
.env

#prevents the products.csv file from being tracked by
#version control since it will hold each user's custom
#inventory of products
data/products.csv
!data/default_products.csv

# ignore google credentials:
# if you want to name your credentials "google-credentials.json":
google-credentials.json
# ignore the google api credentials file at the following location:
auth/google-credentials.json
# otherwise use this catch-all to ignore all JSON files:
*.json
