#prevents the products.csv file from being tracked by
#version control since it will hold each user's custom
#inventory of products
data/products.csv
!data/default_products.csv

# ignore environment variables in the ".env" file:
.env
